@model Code.Models.Pdf

<div class="note-card">
    <div class="note-header">
        <span>@Model.PdfTitle</span>
        @if (Model.PdfAcademicPrograms != null && Model.PdfAcademicPrograms.Any())
        {
            <span>@string.Join(", ", Model.PdfAcademicPrograms.Select(ap => ap.AcademicProgram.ProgramName))</span>
        }
        else
        {
            <span>No academic programs available</span>
        }
    </div>
    <div class="note-image">
        <img src="/Photos/book.jpeg" alt="@Model.PdfTitle">
    </div>
    <div class="note-footer">
        <div class="user-info">
            <img src="/Photos/default-user.jpg" alt="User" class="user-avatar">
            <span>@Model.User.UserName</span>
        </div>
        <div class="note-stats">
            <span class="rating">@Model.Rating.ToString("0.0") Rating</span>
            <span class="views">@Model.Views.ToString() views</span>
            <span class="time">@Model.UploadedAt.ToString("MMM dd, yyyy")</span>
        </div>
    </div>
</div>
